#about {
  position: relative;
  height: 900px;
  align-items: flex-start;
  @media (min-width:580px) {
    height: 800px;
    align-items: center;
  }
  @media (min-width:900px) {
    height: 600px;
  }
  @media (min-width:1280px) {
    margin-top: 0px;

  }

  & > h5 {
    color: #eac358;
    padding-left: 50px;
    @media (min-width:580px) {
      padding-left: 100px;
    }
    @media (min-width:900px) {
      padding-left: 100px;
    }
  }
}

.box-about {
  display: flex;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 30px;
  @media (min-width:580px) {
    padding-right: 0;
  }
  @media (min-width:900px) {
    height: 100%;
    align-items: center;
  }
}

.box-text {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  flex-direction: column-reverse !important;
  @media (min-width:580px) {
    width: 80%;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  @media (min-width:600px) {
    flex-direction: row !important;

  }
  @media (min-width:900px) {
    height: fit-content;
    align-items: center;
    justify-content: center;

  }
  @media (min-width:1280px) {

  }
  & h6 {
    color: white;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    @media (min-width:580px) {
      width: 50%;
    }
    @media (min-width:900px) {
      width: 50%;
    }
    @media (min-width:1280px) {
      width: 40%;
      text-align: center;
    }
  }
  & > h5 {
    color: #eac358;
    margin-top: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    @media (min-width:580px) {
      width: 40%;
    }
    @media (min-width:900px) {
      width: 40%;
      margin-top: 0;
    }
    @media (min-width:1280px) {
      width: 40%;
      text-transform: uppercase;
  
    }
  }
}

.box-text + .box-text {
  width: 45% !important;
  justify-content: flex-end;
  margin-top: 30px;
  flex-direction: column-reverse !important;

  @media (min-width:580px) {
    width: 80% !important;

  }
  @media (min-width:600px) {
    flex-direction: row-reverse !important;
    width: 80% !important;

  }
  @media (min-width:900px) {
    flex-direction: row-reverse;
    margin-top: -70px;
  }
  @media (min-width:1280px) {
    margin-top: -200px;

  }
  h6 {
    text-align: center;
    @media (min-width:580px) {
    }
    @media (min-width:900px) {
    }
    @media (min-width:1280px) {
      text-align: left;

    }
  }
}
.professional {
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}
