
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  & > a {
    display: none;
    font-size: 14px;
    color: white;
    text-decoration: none;
  }
  & i {
    font-size: 25px;
    color: white;
  }
}