
.container {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  margin: 20px;
  & > p {
    display: none;
    font-size: 14px;
    color: white;
    text-decoration: none;
    @media (min-width:540px) {
      display: flex;
      margin-top: 5px;
    }
  }
  & i {
    font-size: 30px;
    color: white;
  }
}