.card {
  height: 200px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  box-shadow: 20px 20px 30px #888888;
  @media (min-width:580px) {
    width: 45%;
  }
  @media (min-width:900px) {
    width: 30%;
  }
  @media (min-width:1280px) {

  }

  :hover{
    cursor: pointer;
    background-color: #DCDEDF;
    transform: matrix(#888888);
  }
  &-icon {
    // height: 20%;
  }
}